<div class="header">
    <a href="#" id="menuButton"><i class="fa fa-bars fa-2x"></i></a>
    <header>
        <h1>Adrien Lecharpentier</h1>
    </header>

    <nav class="nav" id="menu">
        <ul>
            <li><a class="pure-button" href="{{site.baseurl}}/"><i class="fa fa-home"></i> Accueil</a></li>
            <li><a class="pure-button" href="{{site.baseurl}}/archives"><i class="fa fa-archive"></i> Archives</a></li>
            <li><a class="pure-button" href="{{site.baseurl}}/apropos"><i class="fa fa-question"></i> À propos</a></li>
            <li><a class="pure-button" target="_blank" href="https://drive.google.com/file/d/0BzRjeTUP87fJZ1U5d2J3eWZ4OWs/edit">CV fr</a></li>
            <li><a class="pure-button" target="_blank" href="https://drive.google.com/file/d/0BzRjeTUP87fJXzlTVGxyNGpQQjg/edit">CV en</a></li>
        </ul>
    </nav>

    <footer>
        <span class="social"><a target="_blank" href="https://twitter.com/alecharp"><i class="fa fa-twitter"></i></a></span>
        <span class="social"><a target="_blank" href="https://github.com/alecharp"><i class="fa fa-github"></i></a></span>
        <span class="social"><a target="_blank" href="http://fr.linkedin.com/in/alecharp"><i class="fa fa-linkedin"></i></a></span>
    </footer>
</div>