* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Fira Sans Extra Condensed';
}

navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  font-size: 1.5em;
  padding: 0.5em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

navbar ul li {
  display: flex;
  justify-content: space-around;
  width: 2em;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0.5em;
  color: #999;
  background-color: #fefefe;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;

  height: calc(100vh - 5.5em);
  overflow-y: scroll;
}

main article {
  width: 70%;
  font-size: 1.2em;

  padding-top: 1em;

  display: flex;
  flex-direction: column;
}

main article:last-child {
  padding-bottom: 2em;
}

main article header {
  align-self: center;

  padding-bottom: 1em;
  border-bottom: 1px dashed #ddd;
  width: 90%;
}

main article time i {
  font-size: 0.70em !important;
}

main article section,
main article p.summary {
  margin-top: 1em;
}

main article header {
  text-align: center;
}

main article section h2,
main article section h3,
main article section h4,
main article section h5 {
  margin-top: 1em;
}

main article h2::before,
main article h3::before,
main article h4::before,
main article h5::before {
  content: "# ";
  font-size: 0.8em;
  color: #444;
}

main article section p,
main article section ul {
  margin-top: 0.5em;
}

main article section ul {
  margin-left: 2em;
  margin-right: 2em;
}

main article section img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

main article section div.highlight {
  margin: 1em 0;
}

main article section div.highlight div.chroma {
  padding: 1em;
}

@media all and (max-width: 800px) {
  main article {
    width: 90%;
  }
}

a {
  color: inherit;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}

a:hover {
  color: #0030a4;
}

main article section a {
  color: #0030a4;
  text-decoration: none;
  border-bottom: 1px dashed #0030a4;
}

main article section a:hover {
  color: #0030a4;
  text-decoration: none;
  border-bottom: none;
}
