$codeSize: 14px;
$itemSize: 15px;
$textSize: 17px;
$menuSize: 20px;

@import "bower_components/sass-bootstrap/lib/variables";
@import "bower_components/sass-bootstrap/lib/mixins";

// Reset
@import "bower_components/sass-bootstrap/lib/normalize";
@import "bower_components/sass-bootstrap/lib/print";

// Core CSS
@import "bower_components/sass-bootstrap/lib/scaffolding";
@import "bower_components/sass-bootstrap/lib/type";
@import "bower_components/sass-bootstrap/lib/grid";

// Components
@import "bower_components/sass-bootstrap/lib/labels";
@import "bower_components/sass-bootstrap/lib/media";
@import "bower_components/sass-bootstrap/lib/jumbotron";

// Utility classes
@import "bower_components/sass-bootstrap/lib/utilities";
@import "bower_components/sass-bootstrap/lib/responsive-utilities";

@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

* {
	font-size: $textSize;
	font-family: 'Quicksand', Arial, sans-serif;
	font-weight: 400;
}

body {
	padding-top:20px;
	margin-bottom: 40px;
}

@for $i from 1 through 4 {
  h#{$i} {
	font-family: 'Oswald', Arial, sans-serif;
	font-weight: 300;
  	text-transform: uppercase;
  	@if $i > 1 { margin-top: 12pt * (5 - $i); }
  	margin-bottom: 12pt;
  }
}

.header {
	margin-top: 40px;
	margin-bottom: 20px;

	* {
		font-family: 'Oswald', Arial, sans-serif;
		font-weight: 300;
		color: #5a5a5a;
		font-size: $menuSize;
		text-transform: uppercase;
	}

	section a b {
		font-weight: 700;
	}
	a, a:hover {
		color: inherit;
		text-decoration: none;
	}
	ul {
		list-style: none;
		li {
			display: inline;
			margin-left: 15px;
		}
	}
}

ul.posts {
	font-size: $itemSize;
	padding: 0;
	line-height: 2em;
	li {
		list-style-type: none;
	}
    span {
    	font-size: $itemSize - 5px;
    }
	a, a:hover { text-decoration:none; }
}

#post {
	div.highlight pre {
		padding: 10px;
		background-color: #333;
		border-radius: 10px;
	}
	code, code * {
		font-size: $codeSize;
		font-family: 'Inconsolata', Arial, sans-serif;
	}
	* img {
		max-width: 100%;
	}
}

.resume {
	span.lead {
		font-weight: 700;
	}
	* img {
		width: 100%;
	}
}
