$codeSize: 14px;
$itemSize: 15px;
$textSize: 17px;
$menuSize: 20px;

$smallSize: 738px;

$primary-light: #4E9DC8;
$primary-lighter: #79B9DB;
$primary: #2E87B8;
$primary-dark: #0C74AC;
$primary-darker: #065681;

$secondary-lighter: #FFDE87;
$secondary-light: #FFD25B;
$secondary: #FFC835;
$secondary-dark: #FFBB04;
$secondary-darker: #CB9400;

$third-lighter: #FFA287;
$third-light: #FF805B;
$third: #FF6235;
$third-dark: #FF3C04;
$third-darker: #CB2E00;

@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

body { padding:0; margin:0; }

* {
	font-size: $textSize;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 300;
}

a {
	color: $primary-light;
	text-decoration: none;
	&:hover {
		color: $secondary-darker;
	}
}

@for $i from 1 through 4 {
	h#{$i} {
		font-family: 'Oswald', Arial, sans-serif;
		font-weight: 300;
		@if $i > 1 { margin-top: 12px * (5 - $i); }
        font-size: 34px - (($i - 1) * 5px);
		margin-bottom: 12pt;
	}
}

.sidebar {
    min-height: 100%;
    background: $primary-darker;
    color: #fff;
    h1 { 
        text-align: center; 
        font-size: 1.8em; 
        font-weight: bold;
    }

    nav {
        padding: 0;
        list-style: none;
        li {
            display: block;
            *display: block;
            a {
                background: transparent;
                color: $secondary;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                font-size: 85%;
                &:hover, &:focus {
                    color: $secondary-darker;
                    text-decoration: none;
                }
            }
        }
    }
    footer {
        text-align:center;
        span.social {
            display: inline-block;
            &:not(:first-child):before {
                content : " • ";
                color: $primary-lighter;
            }
        }
    }
}

.posts .post-title { text-transform: uppercase; }
article {
    margin-bottom: 20px;
    .post-title { color: $primary-darker; }
    .post-date {
        font-size: 0.8em;
        color: $third-darker;
        margin-bottom: 1em;
    }
    .separator {
        height: 1px;
        background-color: $third-darker;
        margin: 1em 0;
    }
    .tag-list {
        .tag {
            display:inline-block;
            background-color: $primary-light;
            padding: .2em .6em .3em;
            border-radius: .25em;
            color: #fff;
            font-size: 0.7em;
            font-weight: bold;
        }
    }
    p { text-align: justify; }
    .highlight {
        margin-top:5px;
        color: #000;
        background-color: #f0f0f0;
        border: 1px solid $primary-darker;
        border-left: 3px solid $primary-darker;
        padding: 5px 10px;
    }
    pre, code {
        font-family: 'Inconsolata';
        font-size: $codeSize;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    hr {
        height: 1px;
        background-color: $third-darker;
        border:none;
    }
    blockquote {
        font-style: italic;
        background-color: #f0f0f0;
        padding: 5px 10px;
        border-left: 5px solid darken(#f0f0f0, 40%);
    }
    img { width: 100%; }
}

section#content { 
    margin-bottom: 2em; 
    &>img { width: 100%; }
}

#blog-archives {
    line-height: 1em;
    h2 {
        margin: 0;
        color: $secondary-darker;
    }
    article {
        padding: 0;
        padding-bottom: 0.2em;
        position: relative;
        time {
            span:not(:first-child) {
                &:before { content: '/' }
            }
        }
    }
}

#about {
    p { text-align: justify; }
    img {
        border-radius: 50%; 
        vertical-align: middle; 
        padding: 5px; 
        border: 1px solid #ccc;
        text-align: center;
        display: block;
        margin: 10px auto;
    }
    ul {
        list-style: none;
        padding: 0;
        text-align: center;
        li {
            display: inline-block;
            &:not(:first-child):before {
                content: " • ";
                top: -10px;
                position: relative;
                color: $primary-light;
            }
        }
    }
}

//small screens
@media (max-width: $smallSize) {
    #menuButton { margin: 5px 10px; float: left;}
    .sidebar nav, .sidebar footer { display: none; }
    .sidebar nav {
        font-size: 1.5em;
        text-align: center;
        ul { padding: 0; padding-bottom: 10px; }
        li { 
            display: inline-block; 
            &:not(:first-child):before {
                content: " • ";
                color: $primary-lighter;
            }
        }
    }
    h1 { margin: 0; }
    #content { 
        margin: 10px; 
        .post-extract { display:none; }
    }
}

@media (max-width: 550px) {
    #blog-archives {
        article { padding-top: 0em; }
        time { top: $textSize; }
        h2 { display: none; }
    }
}

//large screens
@media (min-width: $smallSize+1) {
    #menuButton { display: none; }
    .sidebar {
        width: 250px;
        position: fixed;
        top:0; bottom: 0;
        nav { text-align: right; margin-right:25px; display: block !important }
    }
    #content { margin: 20px 30px 0 280px; section {margin-bottom: 2em; }}
}

@media (min-width: 551px) {
    #blog-archives {
        h1 { margin: 0; }
        h2 {
            padding-top: 17px;
            margin-bottom: .3em;
            font-weight: normal;
            display: inline-block;
            position: relative;
            top: -1px;
            float: left;
        }
        time {
            top: 10px;
            position: absolute;
            text-align: right;
            left: 0em;
        }
        article {
            margin-left: 4em;
            padding-left: 3.5em;
        }
        .year { display: none; }
    }
}
